body,html{
    margin: 0;
    padding: 0;
    background-color:rgb(196, 242, 245);
}
.mainpage{
    margin-top: -50px;
    text-align: left;
    max-width: auto;
    height: auto;
    width:100%;
    background-image: url("./pic/NN.jpg");
    gap:10px;
}
h1,h2{
    color:azure;
}

.mainpage img{
    max-width: 100%;
    height: auto;
}
.Htopic{   
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.topic{
    color:white;
    background-color:rgb(148, 46, 46) ;
    padding:15px;
    border-radius: 100px;
    text-decoration: 0;
    font-size: 0.8rem;
}
.active{
    color:white;
    background-color:rgb(0, 0, 0) ;
    padding:15px;
    border-radius: 100px;
    text-decoration: 0;
}
footer{
   
    text-align: left;
    color: aliceblue;
    margin:0;
    background-color: rgb(0, 27, 106); 
    height: 100%;
    
}
#right{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr f1r;
    float: right;
    padding: 2em 10% 1em 0;
    width: 30%;
    height: 30%;
}
#right img{
    width: 1000px;
    max-width: 100%;
    text-align: center;
}
#left{
    display: block;
    padding: 2em 0 1em 5%;
}
.utk{
    text-align: right;
}
.CT{
    text-align: center;
    padding:10;
    border-radius: 100px;
    background-color: rgb(255, 187, 0);
}
.CDJPG{
    text-align: center;
}
.CDJPG>a{
    background-color: rgb(27, 66, 124);
    border-radius: 100px;
    text-decoration: 0;
    color: aliceblue;
    padding:20px;
    margin-block:10px;
    display: block;
    flex-direction: column;
}
.CDJPG img{
    max-width: 100%;
    text-align: center;
    margin: auto;
    width: 1000px;
    height: 750px;
    display: block;
    flex-direction: column;
    padding: 10px;
}
.CDJPG>.cal{
    color:rgb(0, 0, 0);
    background-color: rgb(121, 190, 255);
    padding:15px;
    border-radius: 100px;
}
