body,html{
    margin: 0;
    padding: 0;
    background-color:rgb(196, 242, 245);
}
.mainpage{
    margin-top: -50px;
    text-align: left;
    max-width: auto;
    height: auto;
    width:100%;
    background-image: url("./pic/NN.jpg");
    gap:10px;
}
h1,h2{
    color:azure;
}

.mainpage img{
    max-width: 100%;
    height: auto;
}
.Htopic{   
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.topic{
    color:white;
    background-color:rgb(148, 46, 46) ;
    padding:15px;
    border-radius: 100px;
    text-decoration: 0;
    font-size: 0.8rem;
}
.active{
    color:white;
    background-color:rgb(0, 0, 0) ;
    padding:15px;
    border-radius: 100px;
    text-decoration: 0;
}
footer{
   
    text-align: left;
    color: aliceblue;
    margin:0;
    background-color: rgb(0, 27, 106); 
    height: 100%;
    
}
#right{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr f1r;
    float: right;
    padding: 2em 10% 1em 0;
    width: 30%;
    height: 30%;
}
#right img{
    width: 1000px;
    max-width: 100%;
    text-align: center;
}
#left{
    display: block;
    padding: 2em 0 1em 5%;
}
.utk{
    text-align: right;
}
.PN{
    background-color: rgb(53, 206, 40);
    text-align: center;
    border-radius: 100px;
}


.teacher{
    
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.teacher>a{
    background-color: rgb(27, 66, 124);
    border-radius: 100px;
    text-decoration: 0;
    color: aliceblue;
    padding:20px;
    margin-block:10px;
}
.DT{
    text-align: center;
}
.DT>h2{
    margin:auto;
    width: 500px;
    padding: 1em 1em 1em ;
    flex-direction: column;
    text-align: center;
    display: block;
    border-radius: 500px;
    background-color: rgb(23, 16, 95);
    
}
.DT>.detail>h3{
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    display: inline-block;
    padding:10px;
    
}
.detail{
    margin-top: 50px;
    margin-left:100px;
    margin-right:100px;
    text-align: left;
    
}
.teacher>.ST{
    color:white;
    background-color:rgb(70, 119, 255) ;
}

